.btn-clear-history {
  border: none;
  background-color: transparent;
  color: var(--danger);
  font-size: 0.9375rem;
}

@media screen and (max-width: 768px) {
  .history-video-container {
    border-top: 1px solid var(--light-grey-3);
    border-bottom: 1px solid var(--light-grey-3);
  }
}

@media screen and (min-width: 768px) {
  .btn-clear-history {
    font-size: 1.1rem;
  }

  .history-details-container {
    width: 50%;
    margin: 0 auto;
    height: fit-content;
  }

  .history-video-container {
    max-width: 683px;
    display: grid;
    grid-template-columns: 620px 55px;
    border: 1px solid var(--light-grey-3);
  }

  .history-video-container .video-views {
    font-size: 0.75rem;
    color: var(--dark-grey-1);
  }

  .history-video-container .channel-name {
    color: var(--dark-grey-1);
    font-size: 0.875rem;
    font-weight: bold;
  }
}
